# Python environments
genv/
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# Environment / secrets
.env
.env.*
!.env.example

# OS files
.DS_Store

# IDE
.vscode/
.idea/

data/